html {
    width:100%;
    height:100%;
}

body {
    width:100%;
    height:100%;
    margin:0;
    font-family:"Open Sans", sans-serif;
    color:black;
}

main {
    position:relative;
    background-color:#EEEEEE;
    background-image:inherit;
    background-size:100% 100%;
    background-repeat:no-repeat;
    overflow:hidden;
}

.main--background-0 {background-color:red; background-image:inherit;}
.main--background-1 {background-color:green; background-image:inherit;}
.main--background-2 {background-color:blue; background-image:inherit;}
.main--background-3 {background-image:url("../image/background3.jpg"); background-color:inherit;}
.main--background-4 {background-image:url("../image/background4.jpg"); background-color:inherit;}
.main--background-5 {background-image:url("../image/background5.jpg"); background-color:inherit;}

.main--displayRes-0 {width:1280px; height:720px;}
.main--displayRes-1 {width:1600px; height:900px;}
.main--displayRes-2 {width:1920px; height:1080px;}
.main--displayRes-3 {width:2460px; height:1440px;}

.PWD-bottomBar {
    position:absolute;
    left:0px;
    bottom:0;
    z-index:2;
    height:40px;
    width:100%;
    background-color:rgba(0,0,0,0.8);
}

.PWD-bottomBar_panelsWrapper {
    float:left;
    position:relative;
    width:calc(100% - 100px);
}

.PWD-bottomBar_panel {
    float:left;
    position:relative;
    width:180px;
    height:calc(100%);
    box-shadow:inset 0 -4px 0 0 rgb(118,185,237);
    margin:0px 4px;
    line-height:40px;
    color:white;
    transition:background-color 0.15s;
    cursor:default;
}
.PWD-bottomBar_panel:hover {
    background-color:rgba(255,255,255,0.1);
}
.PWD-bottomBar_panel:active {
    background-color:rgba(255,255,255,0.05);
}
.PWD-bottomBar_panel.selected {
    background-color:rgba(255,255,255,0.2);
}
.PWD-bottomBar_panel.selected:hover {
    background-color:rgba(255,255,255,0.3);
}
.PWD-bottomBar_panel.selected:active {
    background-color:rgba(255,255,255,0.2);
}
.PWD-bottomBar_panel__icon {
    position:absolute;
    top:9px;
    left:6px;
    width:22px;
    height:calc(100% - 18px);
}
.PWD-bottomBar_panel__span {
    float:left;
    width:calc(100% - 61px);
    height:100%;
    font-size:13px;
    padding-left:31px;
    text-shadow:0.1em 0.1em 2px black;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}
.PWD-bottomBar_panel__close {
    position:absolute;
    right:3px;
    top:6px;
    width:26px;
    height:calc(100% - 14px);
    line-height:26px;
    text-align:center;
    color:grey;
    transition:background-color 0.15s, color 0.15s;
}
.PWD-bottomBar_panel__close:hover {
    color:white;
    background-color:rgb(232,17,35);
}

.PWD-bottomBar_startButton {
    float:left;
    width:40px;
    height:40px;
    background-image:url("../image/startIcon.png");
    background-size:22px;
    background-position:center;
    background-repeat:no-repeat;
    cursor:default;
    box-shadow:0;
}
.PWD-bottomBar_startButton:hover {
    background-image:url("../image/startIconActive.png");
    box-shadow:inset 0 0 0 20px rgba(255,255,255,0.08);
}
.PWD-bottomBar_startButton:active {
    box-shadow:inset 0 0 0 20px rgba(255,255,255,0.04);
}

.PWD-bottomBar_clockButton {
    position:absolute;
    right:0px;
    top:0px;
    width:60px;
    height:100%;
    text-align:center;
    line-height:40px;
    font-size:14px;
    color:white;
    text-decoration:none;
    cursor:default;
}
.PWD-bottomBar_clockButton:hover {
    background-color:rgba(255,255,255,0.08);
}
.PWD-bottomBar_clockButton:active {
    background-color:rgba(255,255,255,0.16);
}

.PWD-clock {
    position:absolute;
    right:0;
    bottom:40px;
    width:300px;
    height:450px;
    box-shadow:0px 0px 10px 0px rgba(0,0,0,0.5);
    opacity:1;
    background-color:rgba(64,64,64,0.95);
    transition:bottom 0.2s, opacity 0.3s;
    color:white;
    text-align:center;
    font-weight:300;
    z-index:1;
}
.PWD-clock--hide {
    bottom:-340px;
    height:0;
    opacity:0;
}
.PWD-clock__bigTime {
    margin:10px 0;
    font-size:44px;
    display:block;
}
.PWD-clock__date {
    margin:10px 0;
    font-size:18px;
    display:block;
}

.PWD-start {
    position:absolute;
    left:0;
    bottom:40px;
    width:300px;
    height:450px;
    box-shadow:0px 0px 10px 0px rgba(0,0,0,0.5);
    opacity:1;
    background-color:rgba(64,64,64,0.95);
    transition:bottom 0.2s, opacity 0.3s;
    color:white;
    text-align:center;
    font-weight:300;
    z-index:1;
}
.PWD-start--hide {
    bottom:-340px;
    height:0;
    opacity:0;
}
.PWD-start__title {
    margin:10px 0;
    font-size:44px;
    display:block;
}
.PWD-start__message {
    margin:10px 0;
    font-size:18px;
    display:block;
}

.PWD-window {
    position:absolute;
    width:300px;
    height:450px;
    box-shadow:0 0 2px 0 rgba(0,0,0,0.5);
    color:inherit;
    text-decoration:none;
    cursor:default;
}
.PWD-window:focus {
    box-shadow:0 0 10px 2px #9ecaed;
    transition:box-shadow 0.2s;
}
.PWD-window.selected {
    box-shadow:0 0 10px 0 rgba(0,0,0,0.5), 0 0 0 2px rgb(24,131,215);
}
.PWD-window.selected > .PWD-window_topbar_wrapper {
    color:black;
}
.PWD-window.dragging {
    opacity:0.6;
}
.PWD-window--small {
    width:200px;
    height:300px;
}
.PWD-window--medium {
    width:300px;
    height:450px;
}
.PWD-window--big {
    width:400px;
    height:600px;
}
.PWD-window--minimize {
    top:3000px !important;
    opacity:0;
    transition:all 0.5s ease-in, opacity 0.2s ease-in;
}
.PWD-window--maximize {
    transition:all 0.2s ease-out, opacity 0.2s ease-out;
}

.PWD-window_topbar_wrapper {
    width:100%;
    height:35px;
    background-color:white;
    color:rgb(155,156,156);
}
.PWD-window_topbar {
    float:left;
    width:calc(100% - 101px);
    height:35px;
}
.PWD-window_topbar img {
    float:left;
    width:25px;
    padding:5px 5px;
}
.PWD-window_topbar span {
    float:left;
    width:calc(100% - 35px);
    height:calc(100% - 5px);
    padding:3px 0;
    cursor:default;
    line-height:30px;
    font-size:15px;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}
.PWD-window_minimize, .PWD-window_resize {
    float:left;
    width:27px;
    height:25px;
    line-height:25px;
    font-size:20px;
    text-align:center;
    color:rgb(155,156,156);
    background-color:white;
    transition:background-color 0.15s;
    cursor:default;
}
.PWD-window_minimize {}
.PWD-window.selected .PWD-window_minimize {
    color:black;
}
.PWD-window_resize {}
.PWD-window.selected .PWD-window_resize {
    color:black;
}
.PWD-window_resize:hover, .PWD-window_minimize:hover {
    background-color:rgba(0,0,0,0.15);
}
.PWD-window_resize:active, .PWD-window_minimize:active {
    background-color:rgba(0,0,0,0.3);
}
.PWD-window_close {
    float:left;
    width:45px;
    height:25px;
    margin-right:2px;
    line-height:25px;
    font-size:18px;
    text-align:center;
    color:rgb(155,156,156);
    transition:background-color 0.15s, color 0.15s;
    cursor:default;
}
.PWD-window_close:hover {
    background-color:rgb(232,17,35);
    color:white;
}
.PWD-window_close:active {
    background-color:rgba(232,17,35,0.6);
    color:white;
}
.PWD-window.selected .PWD-window_close {
    color:black;
}
.PWD-window.selected .PWD-window_close:hover {
    color:white;
}

.PWD-window_content {
    width:100%;
    height:calc(100% - 35px);
    overflow:auto;
    background:white;
    position:relative;
}

.PWD-icon {
    position:absolute;
    width:80px;
    padding:1px 3px;
    text-align:center;
    text-decoration:none;
    cursor:default;
}
.PWD-icon:focus {
    box-shadow:0 0 10px 2px #9ecaed;
    transition:box-shadow 0.2s;
}
.PWD-icon:hover {
    background-color:rgba(255,255,255,0.2);
    outline:1px solid rgba(255,255,255,0.5);
    outline-offset:-2px;
}
.PWD-icon.selected {
    background-color:rgba(255,255,255,0.3);
    outline:1px solid rgba(255,255,255,0.5);
    outline-offset:-2px;
}
.PWD-icon.selected:hover {
    background-color:rgba(255,255,255,0.4);
    outline:1px solid rgba(255,255,255,0.5);
    outline-offset:-2px;
}
.PWD-icon.dragging {
    z-index:999999999;
    opacity:0.4;
}
.PWD-icon img {
    width:48px;
    height:48px;
    padding:4px;
    margin:0 auto;
    display:block;
}
.PWD-icon span {
    display:block;
    line-height:18px;
    color:white;
    text-shadow:0.1em 0.1em 2px black;
    font-size:13px;
}
