body {
    margin:0;
    font-family:"Open Sans", sans-serif;
    background-color:#EEEEEE;
}

.PWD-window {
    position:absolute;
    width:300px;
    height:450px;
    box-shadow:0px 0px 2px 0px rgba(0,0,0,0.5);
    z-index:0;
}
.PWD-window.selected {
    z-index:1;
    box-shadow:0px 0px 10px 0px rgba(0,0,0,0.5);
}
.PWD-window.selected > .PWD-window_topbar span {
    color:#000000;
}
.PWD-window.dragging {
    z-index:2;
    opacity:0.6;
}
.PWD-window--small {
    width:200px;
    height:300px;
}
.PWD-window--medium {
    width:300px;
    height:450px;
}
.PWD-window--big {
    width:400px;
    height:600px;
}

.PWD-window_topbar {
    width:calc(100% - 10px);
    height:30px;
    padding:5px;
    background:white;
    color:#B0B0B0;
}
.PWD-window_topbar img {
    float:left;
    width:30px;
    height:30px;
}
.PWD-window_topbar span {
    float:left;
    margin-top:4px;
    margin-left:5px;
}

.PWD-window_content {
    width:100%;
    height:calc(100% - 40px);
    overflow:auto;
    background:white;
}

.PWD-icon {
    position:absolute;
    width:80px;
    height:80px;
    padding:1px;
    text-align:center;
    text-decoration:none;
}
.PWD-icon:hover {
    background:#ADD8E6;
}
.PWD-icon.selected {
    background:#D7ECF3;
}
.PWD-icon.selected:hover {
    background:#C3E3ED;
}
.PWD-icon.dragging {
    z-index:2;
    opacity:0.4;
}
.PWD-icon img {
    width:70%;
    height:70%;
    margin:0 auto;
    display:block;
}
.PWD-icon span {
    color:black;
    font-size:14px;
}

/**
 * MEMORY GAME
 */
.Memory-wrapper {
    width:100%;
    font-family:"Raleway", sans-serif;
}

.Memory-panel {
    width:100%;
    display:block;
    text-align:center;
    font-size:1vw;;
    height:50px;
}

.Memory-cards {
    width:100%;
    display:block;
    margin:0 auto;
    padding:20px 0;
}
.Memory-cards--width-240 {width:240px;}
.Memory-cards--width-360 {width:360px;}
.Memory-cards--width-480 {width:480px;}
.Memory-cards--width-600 {width:600px;}

.Memory-card {
    float:left;
    width:25%;
    height:75px;
    position:relative;
}

.Memory-card--correct {
    box-shadow:inset 0px 0px 0px 5px green;
}

.Memory-card img {
    width:100%;
}

.Memory-card_front, .Memory-card_back {
    position:absolute;
    top:0;
    left:0;
}

.Memory-card_front {
    z-index:2;
    transform:rotateY(0deg);
    backface-visibility:hidden;
}

.Memory-card_back {
    transform:rotateY(180deg);
}

@keyframes memoryCardFlipAnimation {
    0% {transform:rotateY(0deg);}
    50% {}
    100% {transform:rotateY(180deg);}
}

.Memory-card--flip {
    animation-name:memoryCardFlipAnimation;
    animation-duration:2s;
    animation-fill-mode:forwards;
}

@keyframes memoryCardBackflipAnimation {
    0% {transform:rotateY(180deg);}
    50% {}
    100% {transform:rotateY(0deg);}
}

.Memory-card--backflip {
    animation-name:memoryCardBackflipAnimation;
    animation-duration:2s;
    animation-fill-mode:forwards;
}
