.chatWrapper {
   font-family:"Open sans", sans-serif;
   width:100%;
   height:100%;
   position:relative;
   background-color:rgb(100,185,88);
}

/**
 * Chat start
 */
.chatStartHeader {
   text-align:center;
   padding:40px 0;
}
.chatStartHeader span {
   font-size:32px;
}

.chatStartNameInput {
   display:block;
   width:75%;
   margin:0 auto;
   padding:10px;
   font-size:18px;
   text-align:center;
}

.chatStartNameButton {
   display:block;
   margin:0 auto;
   margin-top:10px;
   padding:10px 15px;
   border:0;
   font-size:16px;
   background-color:rgba(255,255,255,0.8);
   color:black;
}
.chatStartNameButton:hover {
    background-color:rgba(255,255,255,0.5);
}

/**
 * Chat
 */
.chatNameChange {
    float:left;
    height:30px;
    width:calc(100% - 10px);
    padding:5px;
}
.chatNameChange span {
    float:left;
    height:100%;
    width:calc(60% - 5px);
    line-height:30px;
    font-size:15px;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}
.chatNameChange button {
    float:right;
    height:100%;
    width:40%;
    border:0;
    background-color:rgba(255,255,255,0.8);
    color:black;
}
.chatNameChange button:hover {
    background-color:rgba(255,255,255,0.5);
}
.chatNameChange input {
    float:left;
    height:calc(100% - 4px);
    width:calc(60% - 13px);
    padding:0 2px;
    font-family:inherit;
    font-size:15px;
}

.chatMessages {
   float:left;
   height:calc(85% - 50px);
   width:calc(100% - 20px);
   padding:5px;
   margin:0 5px;
   overflow:auto;
   font-size:14px;
   background-color:rgba(255,255,255,0.8);
}
.chatMessage {
   display:block;
}

.chatInput {
   float:left;
   height:calc(15% - 10px);
   width:calc(100% - 10px);
   position:relative;
   padding:5px;
}
.chatInput_textarea {
   float:left;
   min-width:calc(75% - 8px);
   max-width:calc(75% - 8px);
   min-height:calc(100% - 8px);
   max-height:calc(100% - 8px);
   padding:3px;
   font-family:inherit;
   font-size:14px;
   background-color:rgba(255,255,255,0.8);
}
.chatInput_button {
   float:left;
   width:calc(25% - 5px);
   height:calc(100%);
   border:0;
   margin-left:5px;
   background-color:rgba(255,255,255,0.8);
   color:black;
}
.chatInput_button:hover {
    background-color:rgba(255,255,255,0.5);
}
