body {
    margin:0;
    font-family:"Open Sans", sans-serif;
}

main {
    position:relative;
    width:1300px;
    height:700px;
    background-color:#EEEEEE;
    border:2px solid black;
    border-bottom:0;
}

.PWD-bottomBar {
    position:absolute;
    left:0px;
    top:660px;
    height:40px;
    width:100%;
    background-color:black;
}
.PWD-bottomBar_panel {
    float:left;
    width:150px;
    height:calc(100% - 8px);
    margin:4px 2px;
    line-height:32px;
    font-size:14px;
    background-color:lightgrey;
}
.PWD-bottomBar_panel.selected {
    background-color:green;
}
.PWD-bottomBar_panel__icon {
    float:left;
    width:26px;
    height:26px;
    margin:3px;
}
.PWD-bottomBar_panel__span {
    float:left;
    width:86px;
    height:100%;
    overflow:hidden;
    background-color:yellow;
}
.PWD-bottomBar_panel__close {
    float:left;
    width:26px;
    height:26px;
    margin:3px;
    background-color:red;
}

.PWD-window {
    position:absolute;
    width:300px;
    height:450px;
    box-shadow:0px 0px 2px 0px rgba(0,0,0,0.5);
    z-index:0;
}
.PWD-window.selected {
    z-index:1;
    box-shadow:0px 0px 10px 0px rgba(0,0,0,0.5);
}
.PWD-window.selected > .PWD-window_topbar_wrapper {
    color:black;
}
.PWD-window.dragging {
    z-index:2;
    opacity:0.6;
}
.PWD-window--small {
    width:200px;
    height:300px;
}
.PWD-window--medium {
    width:300px;
    height:450px;
}
.PWD-window--big {
    width:400px;
    height:600px;
}
.PWD-window--minimized {
    display:none;
}

.PWD-window_topbar_wrapper {
    width:100%;
    height:35px;
    background-color:white;
    color:rgb(155,156,156);
}
.PWD-window_topbar {
    float:left;
    width:calc(100% - 90px);
    height:35px;
    background:white;
}
.PWD-window_topbar img {
    float:left;
    width:30px;
    padding:5px;
    padding-bottom:0px;
}
.PWD-window_topbar span {
    float:left;
    width:calc(100% - 40px);
    height:calc(100% - 5px);
    padding-top:5px;
    line-height:30px;
    overflow:hidden;
}
.PWD-window_minimize, .PWD-window_resize {
    float:left;
    width:25px;
    height:25px;
    line-height:25px;
    font-size:20px;
    text-align:center;
}
.PWD-window_minimize {}
.PWD-window_resize {}
.PWD-window_resize:hover, .PWD-window_minimize:hover {
    background-color:rgb(229,229,229);
}
.PWD-window_close {
    float:left;
    width:40px;
    height:35px;
    line-height:35px;
    font-size:20px;
    text-align:center;
}
.PWD-window_close:hover {
    background-color:rgb(232,17,35);
    color:white;
}

.PWD-window_content {
    width:100%;
    height:calc(100% - 35px);
    overflow:auto;
    background:white;
}

.PWD-icon {
    position:absolute;
    width:80px;
    padding:1px;
    text-align:center;
    text-decoration:none;
}
.PWD-icon:hover {
    background:#ADD8E6;
}
.PWD-icon.selected {
    background:#D7ECF3;
}
.PWD-icon.selected:hover {
    background:#C3E3ED;
}
.PWD-icon.dragging {
    z-index:2;
    opacity:0.4;
}
.PWD-icon img {
    width:56px;
    height:56px;
    margin:0 auto;
    display:block;
}
.PWD-icon span {
    display:block;
    line-height:18px;
    color:black;
    font-size:14px;
}

/**
 * CHAT
 */
.chatWrapper {
    width:100%;
    height:100%;
    position:relative;
}

.chatStartHeader {
    text-align:center;
    padding:40px 0;
}
.chatStartHeader span {
    font-size:40px;
}

.chatStartNameInput {
    display:block;
    width:190px;
    margin:0 auto;
    padding:5px;
    font-size:18px;
    text-align:center;
}

.chatStartNameButton {
    display:block;
    width:200px;
    margin:0 auto;
    margin-top:10px;
    font-size:16px;
    padding:5px;
}

.chatMessages {
    float:left;
    padding:5px;
    height:calc(85% - 10px);
    width:calc(100% - 10px);
    overflow:auto;
    font-size:14px;
}

.chatMessage {
    display:block;
}

.chatInput {
    float:left;
    height:15%;
    width:calc(100% - 10px);
    position:relative;
    padding:0 5px;
}
.chatInput_textarea {
    float:left;
    min-width:75%;
    max-width:75%;
    min-height:86%;
    max-height:86%;
    font-size:14px;
}
.chatInput_button {
    float:left;
    border:0;
    width:18%;
    margin:8px 0;
    height:calc(100% - 16px);
    margin-left:10px;
}

/**
 * MEMORY GAME
 */
#memoryPairForm {
    margin:10px auto;
    width:100%;
}
#memoryPairForm label {
    display:inline-block;
    width:calc(50% - 16px);
    padding:10px 5px;
    margin:3px 3px;
    text-align:center;
    background:#eee;
}
#memoryPairForm label:hover {
    background:#ddd;
}
#memoryPairForm button {
    font-family:inherit;
    font-size:inherit;
    display:block;
    margin:0 auto;
    margin-top:10px;
    padding:10px 20px;
    border:0;
    background:#eee;
}
#memoryPairForm button:hover {
    background:#ddd;
}

.Memory-wrapper {
    width:100%;
    font-family:"Raleway", sans-serif;
}

.Memory-panel {
    width:100%;
    display:block;
    text-align:center;
    font-size:1vw;;
    height:50px;
}

.memoryHeader {
    margin-top:10px;
    margin-bottom:20px;
    text-align:center;
    font-size:32px;
}

.Memory-panel span {
    display:block;
    font-size:16px;
}
.memoryPanelAttemptsSpan {}
.memoryPanelSpanPlan {}
.memoryPanelMessage {}

.Memory-cards {
    width:100%;
    display:block;
    margin:0 auto;
    padding:20px 0;
}
.Memory-cards--width-240 {width:240px;}
.Memory-cards--width-360 {width:360px;}
.Memory-cards--width-480 {width:480px;}
.Memory-cards--width-600 {width:600px;}

.Memory-card {
    float:left;
    width:25%;
    padding-top:25%;
    position:relative;
}

.Memory-card img {
    width:100%;
}

.Memory-card--correct {
    box-shadow:inset 0px 0px 0px 5px green;
}

.Memory-card_front, .Memory-card_back {
    position:absolute;
    top:0;
    left:0;
}

.Memory-card_front {
    z-index:2;
    transform:rotateY(0deg);
    backface-visibility:hidden;
}

.Memory-card_back {
    transform:rotateY(180deg);
}

@keyframes memoryCardFlipAnimation {
    0% {transform:rotateY(0deg);}
    50% {}
    100% {transform:rotateY(180deg);}
}

.Memory-card--flip {
    animation-name:memoryCardFlipAnimation;
    animation-duration:2s;
    animation-fill-mode:forwards;
}

@keyframes memoryCardBackflipAnimation {
    0% {transform:rotateY(180deg);}
    50% {}
    100% {transform:rotateY(0deg);}
}

.Memory-card--backflip {
    animation-name:memoryCardBackflipAnimation;
    animation-duration:2s;
    animation-fill-mode:forwards;
}
