body {
    margin:0;
}

.PWD-window {
    width:200px;
    height:300px;
    background-color:blue;
    position:absolute;
}
.PWD-window--active {
    z-index:1;
    background-color:green;
}
.PWD-window-inactive {
    z-index:0;
}

.PWD-icon {
    width:80px;
    height:80px;
}
.PWD-icon img {
    width:100%;
    height:100%;
}
